---
interface Props {
  name: string;
  years?: string;
  imageUrl: string;
  role: string;
  twitter?: string;
  linkedIn?: string;
}

const { name, years, imageUrl, role, twitter, linkedIn } = Astro.props;
---
<li class="rounded-2xl bg-gray-800 px-8 py-10">
    <img class="mx-auto h-48 w-48 rounded-full md:h-56 md:w-56" src={`${imageUrl}`} alt="">
    <h3 class="mt-6 text-base font-semibold leading-7 tracking-tight text-white">{name}</h3>
    { years &&
      <p class="text-sm leading-6 text-gray-400">{years}</p>
    }
    <p class="text-sm leading-6 text-gray-400">{role}</p>
    <ul class="mt-6 flex justify-center gap-x-6" role="list">
    { twitter &&
      <li>
        <a class="text-gray-400 hover:text-gray-300" href={`https://twitter.com/${twitter}`} target="_blank">
          <span class="sr-only">Twitter</span>
          <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
            <path d="M 5.445312 2.328125 L 11.695312 10.789062 L 5.40625 17.671875 L 6.820312 17.671875 L 12.328125 11.648438 L 16.777344 17.671875 L 21.59375 17.671875 L 14.992188 8.734375 L 20.847656 2.328125 L 19.429688 2.328125 L 14.359375 7.875 L 10.261719 2.328125 Z M 7.527344 3.386719 L 9.738281 3.386719 L 19.511719 16.613281 L 17.300781 16.613281 Z M 7.527344 3.386719 "/>
          </svg>
        </a>
      </li>
    }
    { linkedIn &&
      <li>
        <a class="text-gray-400 hover:text-gray-300" href={`https://linkedin.com/in/${linkedIn}`} target="_blank">
          <span class="sr-only">LinkedIn</span>
          <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
            <path fill-rule="evenodd" d="M16.338 16.338H13.67V12.16c0-.995-.017-2.277-1.387-2.277-1.39 0-1.601 1.086-1.601 2.207v4.248H8.014v-8.59h2.559v1.174h.037c.356-.675 1.227-1.387 2.526-1.387 2.703 0 3.203 1.778 3.203 4.092v4.711zM5.005 6.575a1.548 1.548 0 11-.003-3.096 1.548 1.548 0 01.003 3.096zm-1.337 9.763H6.34v-8.59H3.667v8.59zM17.668 1H2.328C1.595 1 1 1.581 1 2.298v15.403C1 18.418 1.595 19 2.328 19h15.34c.734 0 1.332-.582 1.332-1.299V2.298C19 1.581 18.402 1 17.668 1z" clip-rule="evenodd"></path>
          </svg>
        </a>
      </li>
    }
    </ul>
  </li>
